@media (min-width: 769px){
    body {

    background-color: white;
    text-align: center;
}

.primerlogin img{
    margin-top: -50px;
    width:40%;
}

.log-in h2 {
    font-family: 'Inter';
    font-weight: 400; 
    font-size: 32px;
    color:#727272;
    line-height: 39px;
    position: absolute;
    width: 92px;
    height: 70px;
    left: calc(50% - 92px/2);
   
}

.log-usuario {
    box-sizing: border-box;
    position: relative;
    width: 324px;
    height: 53px;
    left: calc(50% - 324px/2);
    top: 120px;
    background: #FFFFFF;
    border: 3px solid #727272;
    border-radius: 30px;

}

.icono-login, .icono-contraseña {
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    width: 34px; 
    height: 34px; 
}

#inputUsuario, #inputContraseña {
    width: 100%;
    height: 100%;
    border: none; 
    padding-left: 20%; 
    border-radius: 30px; 
    box-sizing: border-box; 
    text-align: left;
    padding-top: 5px;
}

#inputUsuario::placeholder {
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #B7B5B5;
}

.log-contraseña {
    box-sizing: border-box;
    position: relative;
    width: 324px;
    height: 53px;
    left: calc(50% - 324px/2);
    top: 145px;
    background: #FFFFFF;
    border: 3px solid #727272;
    border-radius: 30px;


}

#inputContraseña::placeholder {
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #B7B5B5;
}

#boton-entrar {

    position: absolute;
    width: 109px;
    height: 31px;
    left: calc(50% - 109px/2 + 0.5px);
    top: 520px;
    background: #F09100;
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    border:none;
}

 
.bx {
    position: absolute;
    right: 10px; /* Ajusta la posición del ícono */
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
}

  
footer {
      position: fixed;
      bottom: 0;
      width: 110%;
      background-color: #FFFFFF;
      padding: 10px 0;
}

footer p {
      margin: 0;
}
}
@media (max-width: 320px){
    body {

        background-color: white;
        text-align: center;
    }

    #imglogin{
        width:270%;
        text-align: left;
    }
    
   #tituloLogin {
        font-family: 'Inter';
        font-weight: 400; 
        font-size: 170%;
        color:#727272;
        line-height: 39px;
        position: absolute;
        left: calc(50% - 92px/2);
    }
    
    #log-usuario-login {
        box-sizing: border-box;
        position: relative;
        left: calc(50% - 324px/2);
        top: 120px;
        background: #FFFFFF;
        border: 3px solid #727272;
        border-radius: 30px;
    }
    
    .icono-login, .icono-contraseña {
        position: absolute;
        left: 10px; 
        top: 50%; 
        transform: translateY(-50%);
        width: 340px; 
        height: 304px; 
    }
    
    #inputUsuario, #inputContraseña {
        width: 50%;
        border: none; 
        border-radius: 30px; 
        box-sizing: border-box; 
        text-align: left;
        padding-top: 5px;
        padding-left: 20%; 
    }
    
    #inputUsuario::placeholder {
            
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 5px;
        line-height: 29px;
        color: #B7B5B5;
    }
    
    #log-contraseña-login {
        box-sizing: border-box;
        position: relative;
        left: calc(50% - 324px/2);
        top: 120px;
        background: #FFFFFF;
        border: 3px solid #727272;
        border-radius: 30px;
    }
    
    #inputContraseña::placeholder {
            
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #B7B5B5;
    }
    
    #boton-entrar {
    
        position: relative;
        width: 109px;
        height: 31px;
        left: calc(50% - 109px/2 + 0.5px);
        margin-top: -30%;
        background: #F09100;
        border-radius: 40px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        border:none;
    }
    
     
    .bx {
        position: absolute;
        right: 10px; /* Ajusta la posición del ícono */
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        cursor: pointer;
    }
    
    #volverArriba{
        font-size: 50%;
        display: inline-block; /* Hace que el enlace se comporte como un bloque para ajustar márgenes */
        margin-right: 70%; /* Ajusta la posición del enlace "Volver arriba" */
        vertical-align: middle; /* Alinea verticalmente el enlace */
    }
    footer p{
        text-align: left;
        font-size: 50%;
      }
      
      footer .float-end {
        display: inline-block; /* Hace que el enlace se comporte como un bloque para ajustar márgenes */
        margin-right: 15px; /* Ajusta la posición del enlace "Volver arriba" */
        vertical-align: middle; /* Alinea verticalmente el enlace */
    }
}

#container{
    margin-top: 0;
}

@media (max-width: 768px){
    body {

        background-color: white;
        text-align: center;
    }
    
    .primerlogin img{
        margin-top: -50px;
        width:40%;
    }
    
    .log-in h2 {
        font-family: 'Inter';
        font-weight: 400; 
        font-size: 32px;
        color:#727272;
        line-height: 39px;
        position: absolute;
        width: 92px;
        height: 70px;
        left: calc(50% - 92px/2);
    }
    
    .log-usuario {
        box-sizing: border-box;
        position: relative;
        width: 324px;
        height: 53px;
        left: calc(50% - 324px/2);
        top: 120px;
        background: #FFFFFF;
        border: 3px solid #727272;
        border-radius: 30px;
    }
    
    .icono-login, .icono-contraseña {
        position: absolute;
        left: 10px; 
        top: 50%; 
        transform: translateY(-50%);
        width: 34px; 
        height: 34px; 
    }
    
    #inputUsuario, #inputContraseña {
        width: 100%;
        height: 100%;
        border: none; 
        padding-left: 20%;  
        border-radius: 30px; 
        box-sizing: border-box; 
        text-align: left;
        padding-top: 5px;
    }
    
    #inputUsuario::placeholder {
            
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #B7B5B5;
    }
    
    .log-contraseña {
        box-sizing: border-box;
        position: relative;
        width: 324px;
        height: 53px;
        left: calc(50% - 324px/2);
        top: 145px;
        background: #FFFFFF;
        border: 3px solid #727272;
        border-radius: 30px;
    
    }
    
    #inputContraseña::placeholder {
            
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #B7B5B5;
    }
    
    #boton-entrar {
    
        position: absolute;
        width: 109px;
        height: 31px;
        left: calc(50% - 109px/2 + 0.5px);
        top: 520px;
        background: #F09100;
        border-radius: 40px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        border:none;
    }
    
     
    .bx {
        position: absolute;
        right: 10px; /* Ajusta la posición del ícono */
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        cursor: pointer;
    }
    
      
    footer {
          position: fixed;
          bottom: 0;
          width: 110%;
          background-color: #FFFFFF;
          padding: 10px 0;
    }
}